.modal-content
  .modal-header
    button.close(ng-click='close()')
      span.fa.fa-times
      span.sr-only Close
    h3.modal-title
     span.fa.fa-globe 
     |    Choose a language
  .modal-body.modal-lang-picker
    .form-group(ng-show='languages.length > limitMin')
      input.form-control(type='search', ng-model='search', placeholder='Search languages...')
      h4 We are available in {{languages.length}} languages
    .row
      .col-xs-6.col-sm-4.col-lg-4(ng-repeat='lang in languages | filter:search | limitTo: limitMax')
        a.language(href='#', ng-click='onLanguageChange({language:lang})')
          span(ng-if='flags')
            span(class='flag-icon flag-icon-{{lang.country}}')
            | &nbsp;
          span {{lang.nativeName}} 
      .col-xs-6.col-sm-3.col-lg-2(ng-if='languages.length - limitMax > 0')
        | + {{languages.length - limitMax}} more
